@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -text-size-adjust: 100%;

  box-sizing: border-box;
  font-family: "Droid Serif", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #70ad55;
  color: #fff;
  line-height: 1.5;
}

footer {
  background-color: #70ad55;
  color: #fff;
}

.btn2 {
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
}

.btn {
  background-color: #6e8c62;
  color: #fff;
  border-color: #6e8c62;
}

fieldset {
  border: 0;
}

hr {
  border-color: #70ad55;
  opacity: .5;
  margin: .5em;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before,
textarea,
select,
input {
  border-color: #6e8c62;
}
